body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.buffer{
  height: 10rem;
}

hr{
  border-color: #F05F44;
  border-width: 3px;
  max-width: 65px;
}

h1{
  font-size: 3rem;
  color: #e2dbdb;
}

button.btn{
  font-weight: 700;
  border-radius: 300px; /*to make the button more circular*/
  text-transform: uppercase;
}

button.btn-primary:hover{
 border-width: 4px; /*button gets larger when hovered over*/
}

button.btn-xl{
  padding: 1rem 2rem; /*top and bottom: 1rem and left and right: 2rem*/
}
